body {
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    height: 100vh;
    font-size: 120%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    background: #000000d0;
    color: #fff;
    padding: 2em;
    border-radius: 10%;
    width: 100%;
    max-width: 420px;
    margin-top:  5em;
    margin-bottom: 10em;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button, .bi .bi-search {
    margin: 0.5em;
    padding: 0.5em;
    /* height: 1em; */
    /* width: 1em; */
    border: none;
    border-radius: 0.54em;
    outline: none;
    background: #7c7c7c2b;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button:hover {
    background: #7c7c7c6b;
}

input.search-bar {
    border: none;
    padding: 0.4em 1em;
    border-radius: 0.54em;
    outline: none;
    background: #7c7c7c2b;
    color: #fff;
    font-size: 105%;
    font-family: inherit;
    width: calc(100% - 100px);
}

h1.Temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.details {
    display: flex;
    align-items: center;
}

.Desc {
    text-transform: capitalize;
    margin-left: 0.18em;
}

.weather.loading{ 
    visibility: hidden;
    max-height: 0.45em;
    position: relative;
}

.weather.loading::after {
    visibility: visible;
    content: "Loading...";
    color: #fff;
    position: absolute;
    top: 0;
    left: 0.45em;
}

/* Footer */

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: auto;
    background-color: #000000d0;
    color: #fff;
}

p {
    margin: 0.2em;
    text-align: center;
    font-size: small;
}

a {
    color: #d8d8d8;
    text-decoration: none;
}

a:hover {
    color: #7c7c7c6b;;
}